

#x1{ align-content: center; align-items: center; align-self: center; 
            background: black;
        }
          
b1{text-align: center; padding-top: 20px; padding-left: 100px; padding-right: 100px; padding-bottom: 20px; border-radius: 8px; color:white; background-color:black; border: 2px solid black; text-align: center;}
  
  
b1:hover{  color:black; background-color:transparent;   
 font-size: 120%;
 }
b1:active{
    
}
    
b2{ padding-left: 90px; padding-right: 100px; padding-bottom: 20px;
    padding-top: 20px; border-radius: 8px; color:white; background-color:black; border: 2px solid black; text-align: center;}
  
  
b2:hover{  color:black; background-color:transparent;   
 font-size: 120%;
 }
    
b3{ padding-left: 90px; padding-right: 100px; padding-top: 20px; padding-bottom: 20px; border-radius: 8px; color:white; background-color:black; border: 2px solid black; text-align: center;}
  
  
b3:hover{  color:black; background-color:transparent;   
 font-size: 120%;
 }
    
b4{ padding-left: 90px; padding-right: 100px; padding-top: 20px; padding-bottom: 20px; border-radius: 8px; color:white; background-color:black; border: 2px solid black; text-align: center;}
  
  
b4:hover{  color:black; background-color:transparent;   
 font-size: 120%;
 }
    
b5{ padding-left: 90px; padding-right: 100px; padding-top: 20px; padding-bottom: 20px;  border-radius: 8px; color:white; background-color:black; border: 2px solid black;  }
  
  
b5:hover{  color:black; background-color:transparent;   
 font-size: 120%;
 }
    